<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Document</title>
    <script src="js/index.js"></script>
    <link href="demo_style.css" rel="stylesheet">
</head>
<body>
    <a href="/">検索画面に戻る</a>
    <header>
        <h1>検索内容</h1>
            <h2 class="search-content">ジャンル 居酒屋</h2>
            <h2 class="search-content">検索範囲 300m</h2>
            <h2 class="search-content">表示順 おすすめ順</h2>
            <h2 class="search-content">表示件数 5件</h2>

    </header>
    <div id="result">
        <h1>検索結果</h1>
        <img src="https://placehold.jp/150x150.png" alt="ロゴ" class="result-content" align="middle">
        <div class="result-content">
            <h2 >店名　岩本屋</h2>
            <h2 >住所 石川県野々市市〇〇</h2>
        </div>
    </div>
</body>
</html>
